body {
    background-color: beige;
    height: 100vh;
}

.center {
    display: flex;
    justify-content: center;
}
.instructions {
    padding: 10px;
}
.navbar {
    padding: 0px;
    
}
.logo {
    display: block;
    margin-left: 5px;
    padding-bottom: 8px;
}
.nav-item{
    padding: 4px;
}
